[submodule "playbooks/roles/ansibullbot"]
	path = playbooks/roles/ansibullbot
	url = https://github.com/samdoran/ansible-role-ansibullbot.git
[submodule "playbooks/roles/firewall"]
	path = playbooks/roles/firewall
	url = https://github.com/samdoran/ansible-role-firewall.git
[submodule "playbooks/roles/repo-epel"]
	path = playbooks/roles/repo-epel
	url = https://github.com/samdoran/ansible-role-repo-epel.git
[submodule "playbooks/roles/ansibullbot-instance"]
	path = playbooks/roles/ansibullbot-instance
	url = https://github.com/samdoran/ansible-role-ansibullbot-instance.git
[submodule "playbooks/roles/mongodb"]
	path = playbooks/roles/mongodb
	url = https://github.com/samdoran/ansible-role-mongodb.git
[submodule "playbooks/roles/fail2ban"]
	path = playbooks/roles/fail2ban
	url = https://github.com/samdoran/ansible-role-fail2ban.git
[submodule "playbooks/roles/yum-cron"]
	path = playbooks/roles/yum-cron
	url = https://github.com/samdoran/ansible-role-yum-cron.git
