*.pyc
*.pyo
.ropeproject/*
.coverage
.cache/*
venv/*
data*
headers*
*.swp
run*
ansibullbot.egg-info
ansibullbot.cfg
*.sublime-*
Vagrantfile
ansibullbot/utils/ghostdriver.log
ansible/
*.bak
testrl.py
tests/fixtures/ansible-*.tar.gz
.vagrant
*.retry
