-c constraints.txt

beautifulsoup4
fuzzywuzzy
jinja2
logzero
pygithub
python-Levenshtein
pytz
PyYAML
requests
requests_cache
sentry-sdk
sqlalchemy
tenacity

-r https://raw.githubusercontent.com/ansible/ansible/devel/requirements.txt
