-c constraints.txt

argparse
beautifulsoup4
fuzzywuzzy
jinja2
PyYAML
pygithub
python-Levenshtein
pytz
requests
requests_cache
ruamel.yaml
sentry-sdk
six
sqlalchemy
tenacity
textblob
mock ; python_version < '3.3'

-r https://raw.githubusercontent.com/ansible/ansible/devel/requirements.txt
