[defaults]
debug=True
breakpoints=True
github_username=FOO  # required
github_token=XXXXXXX # either token or password is required,
github_password=BAR  # usage of a token is recommended
shippable_token=XXXXXXX-XXXX-XXXX-XXXX-XXXXXXX  # optional

# receiver is optional
[receiver]
host=192.168.1.23
port=5001
