Thanks @{{ submitter }}! This PR was evaluated as a bad PR for the following reasons:
{% for reason in is_bad_pr_reason %}
* {{ reason }}
{% endfor %}

Such PR can only be merged by human, contact core team member to review this PR on IRC: #ansible-devel on irc.freenode.net

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: bad_pr --->
