### Components
{% for component in component_matches %}
{{ '[' + component['repo_filename'] + '](' + 'https://github.com/ansible/ansible/blob/devel/' + component['repo_filename'] + ')'}}
support: {{ component['support'] }}
maintainers: {{ component['maintainers']|join(' ') }}

{% endfor %}
### Metadata
**waiting_on**: {{ waiting_on }}
{% if is_issue %}
[needs_info](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#label-needs_info): {{ is_needs_info }}
{% else %}
{% if change_requested %}
changes_requested_by: {{ change_requested|join(' ') }}
{% else %}
changes_requested_by: null
{% endif %}
[needs_info](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#label-needs_info): {{ is_needs_info }}
[needs_revision](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#label-needs_revision): {{ is_needs_revision }}
[needs_rebase](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#label-needs_rebase): {{ is_needs_rebase }}
[merge_commits](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md#label-merge_commit): {{ merge_commits }}
mergeable_state: {{ mergeable_state }}
shippable_status: {{ ci_state }}
maintainer_shipits (module maintainers): {{ shipit_count_maintainer }}
community_shipits (namespace maintainers): {{ shipit_count_community }}
ansible_shipits (core team members): {{ shipit_count_ansible }}
{% if shipit_actors %}
shipit_actors (maintainers or core team members): {{ shipit_actors|join(' ') }}
{% else %}
shipit_actors (maintainer or core team member): {{ shipit_actors }}
{% endif %}
{% if shipit_actors_other %}
shipit_actors_other: {{ shipit_actors_other|join(' ') }}
{% else %}
shipit_actors_other: {{ shipit_actors_other }}
{% endif %}
automerge: {{ automerge_status }}
{% endif %}

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: bot_status --->
