I am closing this issue/PR because it references files that have been migrated to one or more collections.

For further information, please see:
https://github.com/ansible/ansibullbot/blob/master/docs/collection_migration.md
