I am closing this issue/PR because it references files that have been migrated to one or more collections.

{% for fn,fqcns in collection_file_matches.items() %}
* {{ fqcns[0] }}
{% endfor %}

For further information, please see:
https://github.com/ansible/ansibullbot/blob/master/docs/collection_migration.md

<!--- boilerplate: collection_migration --->
