Thank you very much for your interest in Ansible. Ansible has migrated much of the content into separate repositories to allow for more rapid, independent development. We are closing this issue/PR because this content has been moved to one or more collection repositories.

{% for fn,fqcns in collection_file_matches.items() %}
* {{ fqcns[0] }}
{% endfor %}

For further information, please see:
https://github.com/ansible/ansibullbot/blob/master/docs/collection_migration.md

<!--- boilerplate: collection_migration --->
