{{ '@' + community_usernames|join(' @') }}


{% if is_new_module %}
As a maintainer of a module in the same namespace this new module has been submitted to, your vote counts for shipits. Please review this module and add `shipit` if you would like to see it merged.
{% else %}
The `{{ module_match['name'] }}` module has only one maintainer and this request needs 2 shipits. As a maintainer of a module in the same namespace, you can add a `shipit` to help move this request along.
{% endif %}

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: community_shipit_notify --->
