Thanks again to @{{ submitter }}. This module is going into community review.

We notice that you are one of the maintainers (@{{ maintainer|join(', @') }}) of this module, so when you think it's ready, please comment "shipit" and we will consider it for merging.

[This message brought to you by your friendly Ansibull-bot.]
