Thanks @{{ submitter }} for this PR. This module is looking for a maintainer and you would be good candidate.

If you or anyone else is interested in becoming a maintainer, please comment with 'adopt_me'.

In the meanwhile the Ansible core team does the review, so it can take a while for patches to be reviewed. Thanks for your patience.

Core team: please review according to guidelines (http://docs.ansible.com/ansible/developing_modules.html#module-checklist) and comment with 'needs_revision' or merge as appropriate.

[This message brought to you by your friendly Ansibull-bot.]
