Hello,
we're closing this pull request because the original PR-bound branch
went missing. (This PR's fork repository or branch has been deleted by
the owner).

@{{ submitter }}, if you with to restore the PR, please, re-create
a branch in the same fork repo and with the exactly same name and reopen
this pull request. Or submit a new one.

##### To whom it may concern,
If you're an individual wishing to pick up the work done by the original
submitter (@{{ submitter }}), [here's how you can do this](
https://help.github.com/articles/checking-out-pull-requests-locally/#modifying-an-inactive-pull-request-locally)
(given you followed the instructions at [Ansible Dev Guide](
https://docs.ansible.com/ansible/devel/dev_guide/developing_rebasing.html#configuring-your-remotes)
and have `origin` pointing to your fork and `upstream` pointing to
`ansible/ansible`):

1. :ambulance: Pull the branch locally from read-only copy held by GitHub:
   ```console
   git fetch upstream pull/{{ pr_number }}/head:recovered-{{ pr_type }}/{{ pr_number }}-{{ pr_topic }}
   ```
   Now you have it locally!
2. :construction: Switch to your local branch containing PR changes:
   ```console
   git checkout recovered-{{ pr_type }}/{{ pr_number }}-{{ pr_topic }}
   ```
3. :sparkles: Do your magic. :pencil: Change stuff. :lock: Commit. :hammer:
4. :package: Push it to your fork:
   git push -u origin recovered-{{ pr_type }}/{{ pr_number }}-{{ pr_topic }}
5. :rocket: Now, [create a PR with your renovated work](
   https://github.com/ansible/ansible/compare/devel...:recovered-{{ pr_type }}/{{ pr_number }}-{{ pr_topic }}?quick_pull=1&labels={{ pr_type }}&title={{ pr_title }}&body=This is a resubmission of PR %23{{ pr_number }}). _(Of course, don't forget to fill in
   the PR template properly)._


<!--- boilerplate: incoming_ref_missing --->
