<!-- @{{ submitter }}: Thanks for filing this {{ issue_type }}! -->
{% if maintainers|length > 1 %}
{% for item in maintainers %}{{ '& @' + item }}{% endfor %} this {{ issue_type }} is waiting for your interaction.
{% else %}
{% for item in maintainers %}{{ '@' + item }}{% endfor %} ping, this issue is waiting for your response.
{% endif %}
[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)
<!--- boilerplate: issue_bug_report --->
