{% for item in maintainers %}{{ '@' + item }}{% endfor %}: Pinging you with a friendly reminder that this {{ issue_type }} exists. We know you're human (unlike Ansibullbot!) - but:
1: If you're just seeing this for the first time, and it needs more information, please let the submitter know (using the @ sign with their ID) and any additional questions you might have for the submitter.
2: If you believe this issue has been or will be resolved by an existing pull request, please indicate with a comment saying resolved_by_pr; referencing the 
3: Sometimes life or work can get busy! While we don't need to know all the details, just let us know you're busy for a while in a comment. People understand.

[click here for bot help](https://github.com/jctanner/ansibullbot/blob/ISSUE_TRIAGE_CLASS/ISSUE_HELP.md)
<!--- boilerplate: issue_friendly_maintainer_reminder --->
