@{{ submitter }} we are unable to validate that "{{ component_name }}" is an existing ansible module.

We are expecting a component name that matches something that can be found in:
* http://docs.ansible.com/ansible/list_of_all_modules.html

Please revise the component name in the description.
[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: issue_invalid_module --->
