@{{ submitter }} this PR contains the following merge commits:

{% for commit in merge_commits %}
* {{ commit }}
{% endfor %}

Please [rebase your branch](http://docs.ansible.com/ansible/dev_guide/developing_rebasing.html) to remove these commits.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: merge_commit_notify --->
