@{{ submitter }} this PR contains more than one new module.

Please submit only one new module per pull request. For a detailed explanation, please read [the grouped modules documentation](https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_in_groups.html)

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: multiple_module_notify --->
