{% if action == 'warn' %}
{% if template_missing %}
@{{ submitter }} This {{ itype }} is waiting for you to provide the requested data in the description. Please edit the description or the {{ itype }} will be closed.
{% else %}
@{{ submitter }} This {{ itype }} is waiting for your response. Please respond or the {{ itype }} will be closed.
{% endif %}
{% elif action  == 'close' %}
@{{ submitter }} You have not responded to information requests in this {{ itype }} so we will assume it no longer affects you. If you are still interested in this, please create a new {{ itype }} with the requested information.
{% endif %}

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: needs_info_base --->
