# Note: not currently used by the actual script -- but soon.

Subject: New Modules Report, dd-mon-yyyy

There are currently {{total_prs}} modules waiting for inclusion in Ansible Extras. One of them might be useful to you!

New modules this week:
{{latest_module_string}}

The oldest unreviewed module in the queue (please give it some love this week):
{{oldest_module_string}}

Full list of modules is here:
https://github.com/ansible/ansible/labels/new_plugin

If you think one of these modules might be useful to you, please download it and test it.

If you've tested a module and found issues, please respond with "needs_revision" in the pull request, with details about the revisions you'd like to see.

If you've tested a module and it works for you, please help us by commenting with "shipit" in the pull request.  (Please do not give a "shipit" without actually testing the module first!)

Two "shipit" comments and no "needs_revision" comments will move it to final review for inclusion in the next release.

Thanks for your help in testing Ansible modules!
