{% if notify|length > 1 %}
cc @{{ notify|join(' @') }}
{% else %}
cc @{{ notify[0] }}
{% endif %}
[click here for bot help](https://github.com/ansible/ansibullbot/blob/devel/ISSUE_HELP.md)
<!--- boilerplate: notify --->
