Thanks @{{ submitter }}. Since you are one of the maintainers (@{{ maintainer|join(', @') }}) of this module and you commented with "shipit", we are marking this PR for inclusion.

[This message brought to you by your friendly Ansibull-bot.]
