Hi @{{ submitter }}, thank you for submitting this {% if is_pullrequest %}pull-request{% else %}issue{% endif %}!

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: thank_submitter --->
