@{{ submitter }} This PR contains references to travis-ci.org. Please rebase your branch and push a new commit. [rebase instructions](http://docs.ansible.com/ansible/dev_guide/developing_rebasing.html)

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: travis_notify --->
