@{{ submitter }} this PR was tested by travis-ci.org, which is no longer used. Please [rebase your branch](http://docs.ansible.com/ansible/devel/dev_guide/developing_rebasing.html) to trigger running of current tests.

[click here for bot help](https://github.com/ansible/ansibullbot/blob/master/ISSUE_HELP.md)
<!--- boilerplate: travis_notify --->
