<!DOCTYPE html>
<html ng-app="ngApp" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Ansible BOTMETA Tester</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-block-ui/0.2.2/angular-block-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
        <script src="static/app.js"></script>

        <style>
            body {
                padding-bottom: 20px;
            }
            @media (min-width: 768px) {
                .container {
                    max-width: 1024px;
                }
            }
            .form-control, pre {
                font-family: monospace;
                font-size: 14px;
            }
        </style>
    </head>
    <body ng-controller="mainController">
        <a href="https://github.com/sivel/ansible-template-ui"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        <div class="container center-block row">
            <div class='col-lg-12'>
                <h1 class='text-center'>Ansible BOTMETA Tester</h1>
                <p class="lead text-center">Add your own copy of BOTMETA or use <a href="" ng-click="current()">the current</a>.</p>
                <div class="alert alert-danger" role="alert" ng-show="error"><strong>Error!</strong> {{ error }}</div>

                <div class="form-group">
                    <label>BOTMETA</label>
                    <textarea ng-model="current_meta"
                              ng-trim="false"
                              class="form-control"
                              rows="10"
                              placeholder="">
                    </textarea>
                    <label>Filepaths</label>
                    <textarea class="form-control"
                              rows="5"
                              ng-model="filepaths"
                              ng-trim="false"
                              placeholder=""></textarea>

                </div>
                <div ng-show="rendered">
                    <label>Metadata Result</label>
                    <pre>{{ rendered }}</pre>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="btn-group" uib-dropdown ng-show="filepaths">
                    <button id="split-button" class="btn btn-primary" type="button" ng-click="render()">Render</button>

                    <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li role="menuitem"><a href="#" ng-click="render()">Devel</a></li>
                        <li role="menuitem"><a href="#" ng-click="render('stable')">Stable</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

