- name: Create ansibullbot instance
  hosts: localhost
  connection: local
  gather_facts: no
  become: no

  roles:
    - ansibullbot_instance

- name: Install ansibullbot
  hosts: ansibullbot.eng.ansible.com
  become: yes

  roles:
    - repo_epel
    - yum_cron
    - firewall
    - fail2ban
    - mongodb
    - caddy
    - ansibullbot
